
<table class="tx-tgm-gce" >
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.title" />
		</td>
		<td>
		{events.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.description" />
		</td>
		<td>
		{events.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.image" />
		</td>
		<td>
				<f:image src="{events.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.form" />
		</td>
		<td>
		{events.form}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.form_receiver_mail" />
		</td>
		<td>
		{events.formReceiverMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.name" />
		</td>
		<td>
		{events.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.surname" />
		</td>
		<td>
		{events.surname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.email" />
		</td>
		<td>
		{events.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.salutation" />
		</td>
		<td>
		{events.salutation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.tel" />
		</td>
		<td>
		{events.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.street" />
		</td>
		<td>
		{events.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.zip" />
		</td>
		<td>
		{events.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.city" />
		</td>
		<td>
		{events.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.lon" />
		</td>
		<td>
		{events.lon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tgmgce_domain_model_events.lat" />
		</td>
		<td>
		{events.lat}
		</td>
	</tr>
</table>